<ScrollView class='scroll' scrollBarIndicatorVisible='false' #scroll (scroll)="onScroll($event)" id='scroll'>
    <StackLayout class='scroll__days-wrapper'>
        <WrapLayout class='day' *ngFor="let day of days; trackBy: trackByIndex" #days>
            <StackLayout class='times'>
                <WrapLayout *ngFor="let time of times; trackBy: trackByIndex">
                    <Label class='times__time' [text]='time'>
                    </Label>
                    <Gradient direction="to right" class='times__quarter' borderRadius='5' colors="rgba(77, 77, 77, 0), #9A9A9A">
                    </Gradient>
                    <Gradient direction="to right" class='times__half' borderRadius='5' colors="rgba(77, 77, 77, 0), #9A9A9A">
                    </Gradient>
                    <Gradient direction="to right" class='times__quarter' borderRadius='5' colors="rgba(77, 77, 77, 0), #9A9A9A">
                    </Gradient>
                </WrapLayout>
            </StackLayout>
            <WrapLayout class='day__line'>
            </WrapLayout>
            <AbsoluteLayout class='task-list' #taskList>
                <task 
                    #taskComponent
                    *ngFor="let task of day.taskList; let index = index; trackBy: trackByIndex" 
                    [task]='task'
                    (onTaskSelected)='moveTasks($event)'
                    (onTaskUnselected)='moveTasksBack($event)'
                    (onTaskEdit)='openTaskInfo($event)'
                    (onTaskDelete)='deleteTask($event)'
                ></task>
            </AbsoluteLayout>
        </WrapLayout>
    </StackLayout>
</ScrollView>