<FlexboxLayout flexDirection="column" class='buttons-wrapper'>
    <WrapLayout class='button calendar-button'>
        <StackLayout class='calendar-button__icon'>
            <FlexboxLayout class='calendar-button__upper'>
                <Label [text]='date | date:"d"'></Label>
            </FlexboxLayout>
            <FlexboxLayout class='calendar-button__bottom'>
                <Label [text]='date | date:"EEE"'></Label>
            </FlexboxLayout>
        </StackLayout>
    </WrapLayout>
    <FlexboxLayout class='button add-button' (tap)='openCard($event)'>
        <Label class='fas add-button__icon' text='&#xf067;'></Label>
    </FlexboxLayout>
</FlexboxLayout>