<FlexboxLayout class='buttons-wrapper' [top]='birthdays.length != 0 ? 505 : 551'>
    <Image src='~/app/assets/gift.png' class='gift-button' *ngIf="birthdays.length != 0" (tap)="showBirthdays()"></Image>
    <WrapLayout class='button calendar-button' (tap)='openCalendar()'>
        <StackLayout class='calendar-button__icon'>
            <FlexboxLayout class='calendar-button__upper'>
                <Label [text]='currentDate | date:"d"'></Label>
            </FlexboxLayout>
            <FlexboxLayout class='calendar-button__bottom'>
                <Label [text]='currentDate | date:"EEE"'></Label>
            </FlexboxLayout>
        </StackLayout>
    </WrapLayout>
    <FlexboxLayout class='button add-button' (tap)='openCard($event)'>
        <Label class='fas add-button__icon' text='&#xf067;'></Label>
    </FlexboxLayout>
</FlexboxLayout>