<StackLayout class='input subtask-input'>
    <FlexboxLayout class='card__row'>
        <Label class='input__title' [text]='inputTitle'></Label>
        <Label class='subtask-input__button' text='Add subtask' (tap)='addSubtask()'></Label>
    </FlexboxLayout>
    <WrapLayout class='subtask-list'>
        <FlexboxLayout class='subtask-list__subtask' *ngFor="let subtask of subtaskList">
            <Label class='subtask-list__empty' *ngIf="subtaskList.length == 0" text='Subtask list is empty'></Label>
            <Label [text]='subtask.name' class='subtask-list__subtask-name'></Label>
            <FlexboxLayout class='subtask-list__checkbox' [class.subtask-list__checkbox_active]='subtask.isDone' (tap)='check(subtask)'>
                <Label *ngIf="subtask.isDone" class='fas subtask-list__checked' text='&#xf00c;'></Label>
            </FlexboxLayout>>
        </FlexboxLayout>
    </WrapLayout>
</StackLayout>