<StackLayout class='input category-input'>
    <Label class='input__title' text='Category'></Label>
    <ScrollView orientation='horizontal' class="category-input__scroll">
        <WrapLayout class='category-input__wrapper' #wrapper (loaded)='wrapperLoaded()'>
            <category-item 
                *ngFor="let category of categoryList; let index = index; trackBy: trackByIndex" 
                [category]='category' 
                [isSelected]='category.name == state.name ? true : false'
                (onCategorySelect)='changeCategory($event)'
            ></category-item>
        </WrapLayout>
    </ScrollView>
</StackLayout>