.input-wrapper {
    margin-bottom: 15;
}

.input {
    height: 30;
    font-size: 18;
    border-width: 2px;
    border-color: #E8E8E8;
    border-radius: 25;
    padding: 0 12;
    background-color: #FFFFFF;
    vertical-align: center;
}

.input__title {
    font-size: 14;
    width: 78;
    color: #636363;
}