.card-wrapper {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 500;
    transition: margin 2.25s ease-in-out;
    font-family: Archivo;
    /* margin-top: 40%; */
    /* transform: translateY(100); */
}

.card__gradient {
    width: 100%;
    height: 100%;
    padding: 10 30 0 30;
}

.card__line-wrapper {
    width: 40%;
    height: 24;
}

.card__line {
    width: 50;
    height: 4;
    background-color: #C8E0FF;
    border-radius: 24;
    transform: translateX(50% - 25);
}

.card__title {
    font-size: 23;
    font-weight: 600;
    color: #262626;
}

.card__row {
    justify-content: space-between;
}