<WrapLayout class='card-wrapper'>
    <WrapLayout 
        #card 
        class='card' 
        (loaded)='loaded()' 
        (pan)='touch($event)'
        [formGroup]="cardForm">
        <FlexboxLayout class='card__row'>
            <Label text='Add task' class='card__title'></Label>
            <FlexboxLayout class='button card__complete-button' (tap)='complete()'>
                <Label class='card__complete-button-text' text='SAVE'></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <StackLayout class='input'>
            <Label class='input__title' text='Name'></Label>
            <TextField class='input__value' formControlName="name" hint='Task name'></TextField>
        </StackLayout>
        <WrapLayout class='card__underline'></WrapLayout>
        <FlexboxLayout class='card__row'>
            <StackLayout class='input input_short'>
                <Label class='input__title' text='Start date'></Label>
                <DatePickerField class='input__value' hint='Select date' formControlName="startDate"></DatePickerField>
            </StackLayout>
            <ng-container *ngIf="!withoutDate">
                <StackLayout class='input input_short'>
                    <Label class='input__title' text='End date'></Label>
                    <DatePickerField class='input__value' hint='Select date' formControlName="endDate"></DatePickerField>
                </StackLayout>
            </ng-container>
        </FlexboxLayout>
        <ng-container *ngIf="!withoutDate">
            <FlexboxLayout class='card__row'>
                <StackLayout class='input input_short'>
                    <Label class='input__title' text='Start time'></Label>
                    <TimePickerField class='input__value' hint='Select time' formControlName="startTime"></TimePickerField>
                </StackLayout>
                <StackLayout class='input input_short'>
                    <Label class='input__title' text='End time'></Label>
                    <TimePickerField class='input__value' hint='Select time' formControlName="endTime"></TimePickerField>
                </StackLayout>
            </FlexboxLayout>
        </ng-container>
        <FlexboxLayout class='checkbox'>
            <Switch 
                class='checkbox__value' 
                color='#EDEDED' 
                backgroundColor='#9CF70B' 
                offBackgroundColor='#B8B8B8'
                [(ngModel)]="withoutDate"
                [ngModelOptions]="{standalone: true}"
                (checkedChange)='onWithoutDateChange($event)'
            ></Switch>
            <Label text='Without date' class='checkbox__title'></Label>
        </FlexboxLayout>
        <WrapLayout class='card__underline'></WrapLayout>
        <StackLayout class='input'>
            <Label class='input__title' text='Category'></Label>
            <Label class='input__value' [text]='selectedCategory.name' (tap)='openCategorySelect()'></Label>
        </StackLayout>
        <WrapLayout class='card__underline'></WrapLayout>
        <FlexboxLayout class='checkbox'>
            <Switch 
                class='checkbox__value' 
                color='#EDEDED' 
                backgroundColor='#9CF70B' 
                offBackgroundColor='#B8B8B8' 
                formControlName="repeat"></Switch>
            <Label text='Repeat' class='checkbox__title'></Label>
        </FlexboxLayout>
    </WrapLayout>
</WrapLayout>