<Page class='page' [actionBarHidden]='true'>
    <AbsoluteLayout class='main-page'>
        <FlexboxLayout class='main-page__content'>
            <FlexboxLayout justifyContent="space-between" class='header' #header>
                <StackLayout class='date'>
                    <Label [text]='date | date:"d MMMM"' class='header__date'>
                    </Label>
                    <Label [text]='date | date:"yyyy"' class='header__year'>
                    </Label>
                </StackLayout>
            </FlexboxLayout>
            <scroll 
                [days]='days' 
                (onDayChange)='changeDate($event)' 
                (onTaskChoiced)='openCard($event)'
                (onTaskDelete)='deleteTask($event)'
            ></scroll>
        </FlexboxLayout>
        <menu></menu>
        <main-page-controls [date]='date' (onOpenCard)='openCard()'></main-page-controls>
        <card-form 
            #card 
            (onTaskAdd)='addTask($event)'
            (onTaskChange)='changeTask($event)'
        ></card-form>
    </AbsoluteLayout>
</Page>