<Page class='page'>
    <AbsoluteLayout class='main-page'>
        <StackLayout class='main-page__content'>
            <FlexboxLayout justifyContent="space-between" class='header' ref='header'>
                <StackLayout class='date'>
                    <Label [text]='date | date:"d MMMM"' class='header__date'>
                    </Label>
                    <Label [text]='date | date:"yyyy"' class='header__year'>
                    </Label>
                </StackLayout>
            </FlexboxLayout>
            <scroll [days]='days' (onDayChange)='changeDate($event)'></scroll>
        </StackLayout>
        <menu></menu>
        <main-page-controls [date]='date' (onOpenCard)='openCard()'></main-page-controls>
        <card-form #card></card-form>
    </AbsoluteLayout>
</Page>