.main-page {

}

.main-page__content {
    width: 100%;
    top: 0;
    left: 0;
}

.main-page__header {
}

.header {
    margin: 40 0 25 0;
    padding: 0 20;
}

.header__date {
    font-family: Archivo;
    font-weight: 900;
    height: 45;
    color: #262626;
    font-size: 32;
}

.header__year {
    font-family: Archivo;
    font-size: 28;
    font-weight: 500;
    color: #262626;
}