.task {
    margin: 0 20 15 20;
    padding: 5 20 0 20;
    z-index: 6;
    border-radius: 24;

    &__status {
        font-size: 16;
    }

    &__underline {
        height: 1;
        background-color: #DEDEDE;
        margin: 0 0 10 0;
    }

    &__category-color {
        border-radius: 5;
    }

    &__main-info {
        margin-bottom: 15;
    }

    &__name {
        font-size: 20;
        margin-left: 10;
        font-weight: 600;
    }

    &__description {
        font-size: 14;
        margin-left: 10;
        color: #7c7c7c;
    }

    &__wrapper {
        justify-content: center;
        align-items: center;
    }

    &__delete-button {
        width: 30;
        height: 30;
        background-color: transparent;
        z-index: 0;
        font-size: 18;
        padding: 0;
        color: #7c7c7c;
    }

    &__row {
        justify-content: space-between;
        align-items: center;

        &_margin {
            margin-bottom: 10;
        }
    }

    &__item {
        align-items: center;

        &-icon {
            color: #7c7c7c;
            font-size: 18;
        }

        &-value {
            margin-left: 5;
            font-size: 14;
        }

        .hide-button {
            margin-right: 10;
        }
    }

    &__hidden-info {
        height: 1;
    }
}