@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */
* {
    color: #262626;
}

.fas {
  font-family: "FontAwesomeSolid";
}

.far {
  font-family: "FontAwesomeRegular";
}

.input {
  margin-top: 15;
  /* background-color: red; */
}

.input_short {
  width: 50%;;
}

.input_short .input__value {
  width: 100%;
}

.input__title {
  font-size: 16;
  font-weight: 500;
}

.input__value {
  width: 100%;
  margin: 0;
  border-width: 0;
  font-size: 16;
  placeholder-color: #DCDEDF;
}

.button {
  border-radius: 50%;
}