<FlexboxLayout class='header__menu menu' #menu (loaded)='loaded()'>
    <FlexboxLayout class='menu__item' #menuItem nsRouterLink='/settings' pageTransition='slide' (tap)='toggleMenu()'>
        <Label class='fas' text='&#xf013;'></Label>
    </FlexboxLayout>
    <FlexboxLayout class='menu__item' #menuItem nsRouterLink='/statistic' pageTransition='slide' (tap)='toggleMenu()'>
        <Label class='fas' text='&#xf080;'></Label>
    </FlexboxLayout>
    <AbsoluteLayout class='menu__item' #menuItem nsRouterLink='/taskList' pageTransition='slide' (tap)='toggleMenu()'>
        <Label [text]='tasksCount' class='menu__task-count' (loaded)='taskCountLoaded($event)' #taskCount></Label>
        <Label class='fas menu__icon' text='&#xf49e;'></Label>
    </AbsoluteLayout>
    <FlexboxLayout class='menu__main-button' (tap)='toggleMenu()'>
        <Label class='fas' text="&#xf0c9;"></Label>
    </FlexboxLayout>
</FlexboxLayout>