.menu {
  width: 62;
  height: 251;
  left: 278;
  top: 53;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: flex-end;
  
  FlexboxLayout {
    justify-content: center;
    align-items: center;
  }

  &__item {
    background-color: rgb(17, 140, 255);
    border-radius: 50%;
    height: 46;
    width: 46;
    z-index: 10;

    Label {
      font-size: 16;
      color: white;
    }
  }

  &__main-button {
    width: 62;
    height: 62;
    background-color: rgb(17, 140, 255);
    border-radius: 50%;
    z-index: 10;

    Label {
      font-size: 30;
      color: white;
    }
  }
}